@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{ Layout = null;}
@{
    IEnumerable<Product> products = ViewData["Products"] as IEnumerable<Product>;
    IEnumerable<HeadSection> heads = ViewData["HeadSection"] as IEnumerable<HeadSection>;
    IEnumerable<AboutSection> abouts = ViewData["AboutSection"] as IEnumerable<AboutSection>;
    IEnumerable<StaffSection> staffs = ViewData["StaffSection"] as IEnumerable<StaffSection>;
    IEnumerable<AdminUsers> au = ViewData["au"] as IEnumerable<AdminUsers>;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>MyShop</title>
    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <!-- Custom styles for this template -->
    <link href="~/libTemp/css/agency.css" rel="stylesheet">
</head>
<body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Jewelry</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive"style="color:#d4d4d4">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#product">Պրոդուկտներ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">Մեր Մասին</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#team">Թիմ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact">Կապ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" asp-controller="User" asp-action="AuthorPage">Հեղինակ</a>
                    </li>
                    @if (!(User.Identity.IsAuthenticated))
                    {
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" asp-controller="Account" asp-action="SignInUser">Մուտք</a>
                        </li>
                    }
                </ul>
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link nav-link" data-toggle="dropdown" href="/#" role="button" aria-haspopup="true" aria-expanded="false">
                                <img class="img-avatar" src="~/image/pic-1.png">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">

                                <a class="dropdown-item">
                                    <i class="fa fa-user"></i> @User.Identity.Name
                                </a>
                                @foreach (AdminUsers admin in au)
                                {
                                    if (admin.Email == @User.Identity.Name)
                                    {
                                        <a asp-action="Index" asp-controller="Home" asp-area="Admin" class="dropdown-item">
                                            <i class="fa fa-user"></i> Ադմինիստրատոր
                                        </a>
                                    }
                                }
                                <a class="dropdown-item" asp-action="Profile" asp-controller="User">
                                    <i class="fa fa-user"></i> Իմ էջը
                                </a>
                                <div class="dropdown-divider"></div>
                                <form class="dropdown-item" asp-area="" asp-action="Logout" asp-controller="Account" method="post">
                                    <button class="btn btn-light fa fa-lock" type="submit"> Ելք</button>
                                </form>
                            </div>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </nav>
    <!-- Header -->
    @foreach (HeadSection head in heads)
    {
        <header style="background-image: url( @head.ImgUrl ); background-repeat: no-repeat;background-size:cover" class="masthead">
            <div class="container">
                <div class="intro-text">
                    <div class="intro-lead-in" style="color:#dedede">@Localizer[@head.HeadTitle]</div>
                    <div class="intro-heading" style="color:#dedede">@Localizer[@head.HeadOverview]</div>
                    <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="@head.ButtonUrl">Ավելին</a>
                </div>
            </div>
        </header>
    }

    <!-- Services = Products -->
    <section id="product">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Տեսականի</h2>
                    <h3 class="section-subheading text-muted">Բացառիկ</h3>
                </div>
            </div>
            <div class="row">
                @foreach (Product product in products)
                {
                    if (product.ProductID <= 4)
                    {
                        <div class="col-md-4 col-sm-6 portfolio-item">

                            <a class="portfolio-link" data-toggle="modal" href="@("#productModal"+product.ProductID)">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <i class="fa fa-plus fa-3x"></i>
                                    </div>
                                </div>
                                <img class="img-fluid" src="@product.Image" style="width:500px; height:300px;" alt="">
                            </a>

                            <div class="portfolio-caption">
                                <h4>@product.Name</h4>
                                <p class="text-muted">@product.Price դր․</p>
                            </div>
                        </div>
                    }
                }
                <div class="" style="margin:auto; ">
                    <a style="font-size:25px; text-align:center; " class="btn btn-primary" asp-action="ProductList">
                        ԱՎԵԼԻՆ
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- About -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Մեր Մասին</h2>
                    <h3 class="section-subheading text-muted">Մեր Որակը</h3>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-12">
                    <ul class="timeline">
                        @foreach (AboutSection about in abouts)
                        {
                            @if (about.Dest == "Ձախ")
                            {
                                <li>
                                    <div class="timeline-image">
                                        <img class="img-fluid" src="@about.ImgUrl" alt="">
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-body">
                                            <p class="text-muted">@Html.Raw(about.Description.ToString())</p>
                                        </div>
                                    </div>
                                </li>
                            }
                            else if (about.Dest == "Աջ")
                            {
                                <li class="timeline-inverted">
                                    <div class="timeline-image">
                                        <img class="img-fluid" src="@about.ImgUrl" alt="">
                                    </div>
                                    <div class="timeline-panel">
                                        @*<div class="timeline-heading">
                                                <h4>March 2011</h4>
                                                <h4 class="subheading">An Agency is Born</h4>
                                            </div>*@
                                        <div class="timeline-body">
                                            <p class="text-muted">@Html.Raw(about.Description.ToString())</p>
                                        </div>
                                    </div>
                                </li>
                            }
                        }
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>
                                   Եղիր
                                    <br>ՄԵր Պատմության
                                    <br>Մի Մասնիկը
                                </h4>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </section>
    <!-- Team -->
    <section class="bg-light" id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Մեր Հիանալի Աշխատակիցները</h2>
                </div>
            </div>
            <div class="row">

                @foreach (StaffSection staff in staffs)
                {<div class="col-sm-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="@staff.ImgUrl" alt="">
                            <h4>@staff.Name</h4>
                            <p class="text-muted">@staff.Position</p>
                        </div>
                    </div>
                }
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                </div>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Հետադարձ Կապ</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    @model ContactSection
                    
                    <form asp-action="SendMessage" method="post" class="form-group">
                        <div style="display:flex">
                            <div class="form-group" style="margin-right:50px;width:600px">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Name">Անուն</label>
                                    <input asp-for="Name" type="text" class=" form-control" required data-validation-required-message="Please enter your name." />
                                </div>
                                <div class="form-group">
                                    <label asp-for="Email">էլ-հասցե</label>
                                    <input asp-for="Email" type="email" class=" form-control" required data-validation-required-message="Please enter your email." />
                                </div>
                                <div class="form-group">
                                    <label asp-for="Number">Հեռախոսահամար</label>
                                    <input asp-for="Number" type="text" class=" form-control" required data-validation-required-message="Please enter your number." />
                                </div>
                            </div>
                            <div class="form-group" style="width:600px;">
                                <label asp-for="Message">Հաղորդագրություն</label>
                                <textarea asp-for="Message" type="text" class=" form-control p-md-2" required data-validation-required-message="Please enter your message."></textarea>
                            </div>
                        </div>
                        <button style="width:100px;margin-left:60px;" type="submit" class="btn btn-primary" value="SendMessage">Ուղարկել</button>

                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy;designed by Zara</span>
                </div>
                @if (!User.Identity.IsAuthenticated)
                {
                    <div class="col-md-4">
                        <ul class="list-inline quicklinks">
                            <li class="list-inline-item">
                                <a asp-action="Login" asp-controller="Account" style="color:darksalmon">
                                    Ադմին
                                </a>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </div>
    </footer>
    <!-- Portfolio Modals -->
    <!-- Modal 1 -->
    @foreach (Product product1 in products)
    {
        <div class="portfolio-modal modal fade" id="@("productModal"+product1.ProductID)" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl"></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="modal-body">
                                    <!-- Project Details Go Here -->
                                    <h4>@product1.Name</h4>
                                    <p class="item-intro text-muted">@product1.Price դր․</p>
                                    <img class="img-fluid d-block mx-auto" src="@product1.Image" alt="">
                                    <p>@Html.Raw(product1.Description.ToString())</p>
                                    <ul class="list-inline">
                                       Կատեգորիա՝ <li>@product1.Category</li>
                                    </ul>
                                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                                        <i class="fa fa-times"></i>
                                        Փակել
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <!-- Bootstrap core JavaScript -->
    <script src="~/libTemp/vendor/jquery/jquery.min.js"></script>
    <script src="~/libTemp/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="~/libTemp/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/libTemp/js/jqBootstrapValidation.js"></script>
    <!-- Custom scripts for this template -->
    <script src="~/libTemp/js/agency.min.js"></script>
</body>
</html>
