@model IEnumerable<EquipmentShop.Models.AboutSection>

<!DOCTYPE html>
<html>
<head>
    <link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>Store</title>
</head>
<body>
    <h3>Մեր Մասին</h3>
    <table class="table table-condensed table-bordered table-sm table-responsive-sm" id="myTable">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Նկար</th>
                <th>Նկարագրություն</th>
                <th>Ուղղություն</th>
                <th>Գործողություններ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() == 0)
            {
                <tr><td colspan="3" class=" text-center">Տվյալներ չկան</td></tr>
            }
            else
            {
                foreach (var about in Model)
                {
                    <tr>
                        <td>@about.ID</td>
                        <td><img style="max-width:130px; height:150px;" src="@about.ImgUrl" alt="no image" /></td>
                        <td>@Html.Raw(about.Description.ToString())</td>
                        <td>@about.Dest</td>
                        <td style="display:flex">
                            <form method="post" asp-action="AboutSectionDelete" asp-route-id="@about.ID">
                                <button type="submit" class="btn btn-danger">Ջնջել</button>
                            </form>
                            <a style="margin-left: 15px; background-color: darkslategray; color: white; border: none;" asp-action="AboutSectionEdit" asp-route-id="@about.ID" class="btn">Խմբագրել</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    @section Scripts
{
        <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
        <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
        <script src="~/js/myTable.js"></script>
    }
    <div style="display:flex">
        <a class="btn btn-primary" asp-area="Admin" asp-action="AboutSectionAdd" asp-controller="Home">Ավելացնել</a>
    </div>
</body>
</html>

