@model IEnumerable<EquipmentShop.Models.ContactSection>

<!DOCTYPE html>
<html>
<head>

    <link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>Store</title>
</head>
<body>
    <h3>Կոնտակտներ</h3>
    <div class="container">
        <table id="myTable" class="table table-condensed table-bordered table-striped table-sm table-responsive-sm">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Անուն</th>
                    <th>էլ-հասցե</th>
                    <th>Հեռախոսահամար</th>
                    <th>Հաղորդագրություն</th>
                    <th>Գործողություն</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() == 0)
                {
                    <tr><td colspan="3" class=" text-center">Տվյալներ չկան</td></tr>
                }
                else
                {
                    foreach (var contact in Model)
                    {
                        <tr>
                            <td>@contact.ID</td>
                            <td>@contact.Name</td>
                            <td>@contact.Email</td>
                            <td>@contact.Number</td>
                            <td>@contact.Message</td>
                            <td>
                                <form method="post" asp-action="ContactSectionDelete" asp-route-id="@contact.ID">
                                    <button type="submit" class="btn btn-danger"> Ջնջել</button>
                                </form>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    @section Scripts
{
        <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
        <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
        <script src="~/js/myTable.js"></script>
    }
</body>
</html>
