@model Product
@{
    IEnumerable<Category> categories = ViewData["Categories"] as IEnumerable<Category>;
    IEnumerable<Product> products = ViewData["Products"] as IEnumerable<Product>;
    IEnumerable<ForWhom> forWhoms = ViewData["ForWhom"] as IEnumerable<ForWhom>;
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>Ավելացնել Ապրանք</title>
</head>
<body>
    <h1>Ավելացնել Ապրանք</h1>
    <div asp-validation-summary="All" class="text-danger"></div>
    <form asp-action="Create" class="form-group">
        <div class="form-group" hidden>
        
            <input asp-for="Views" type="text" class=" form-control" value="0" required />
        </div>
        <div class="form-group">
            <label asp-for="Name">Անվանում</label>
            <input asp-for="Name" type="text" class=" form-control" required />
        </div>
        <div class="form-group">
            <label asp-for="Price">Գին</label>
            <input asp-for="Price" class=" form-control" required />
        </div>
        <div class=" form-group">
            <h3>Կարգավիճակ</h3>
            <select asp-for="Availability">
                <option>Առկա է</option>
                <option>Առկա չէ</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Category">Կատեգորիա</label>
            <select asp-for="Category" class="form-control">
                @foreach (Category item in categories)
                {
                    <option value="@item.CategoryName">@item.CategoryName</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label asp-for="ForWhom">Ում համար</label>
            <select asp-for="ForWhom" class="form-control">
                @foreach (ForWhom item in forWhoms)
                {
                    <option value="@item.Name">@item.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Description">Նկարագրություն</label>
            <textarea asp-for="Description" class=" form-control"></textarea>
        </div>
        <div class=" form-group">
            <label asp-for="Image">Նկարի URL</label>
            <input type="text" asp-for="Image" class=" form-control" />
        </div>
        <div class=" form-group">
            <label asp-for="DateCreated">Ամսաթիվ</label>
            <input type="text" asp-for="DateCreated" class=" form-control" value="@Html.Raw(DateTime.Now)" readonly="readonly" />
        </div>
        <button type="submit" asp-area="Admin" asp-controller="Home" class="btn btn-primary" value="Create">Ստեղծել</button>
        <a asp-action="Index" class=" btn btn-default">Չեղարկել</a>
    </form>
</body>
</html>

<script src="~/lib/tinymce/tinymce/js/tinymce/tinymce.min.js"></script>

<!-- Script to wire up your TinyMCE editor -->
<script type="text/javascript">
    // Initialize your tinyMCE Editor with your preferred options
    tfm_path = '/Areas/Admin/fileman';
    tinymce.init({

        selector: "textarea", theme: "modern", height: 200, width: 550,
        plugins: [
            "table contextmenu directionality emoticons paste textcolor"
        ],
        fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt",
        toolbar1: "undo redo | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | styleselect | fontsizeselect",
        toolbar2: "| link unlink anchor | image media | forecolor backcolor | print preview code ",
        image_advtab: false,
        menubar: false,
    });
</script>
